body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    padding-left: 30px;
    padding-right: 30px;
}

a{
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover{
    background-color:rgba(30, 143, 255, 0.459);
    border-radius: 20px;
}

p{
    text-align: justify;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(38, 22, 20);
    padding: 10px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(38, 22, 20);
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(38, 22, 20);
}

footer{
    background-color: rgb(38, 22, 20);
    color: #F5F5F5;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px; 
}


